<ul>
<h3>
  <div class="form-group">
    <% favorites.forEach(favorite => { %>
      <li> <%= favorite.name %>  </li>  
    <form method="POST" action="/favorite/<%= favorite.name %>/?_method=DELETE">
        <input type="submit" value="Delete" class='btn btn-primary'>
      </form>
    <% }) %> 
    
</h3>
</ul>

<a href="/">Home Page</a>
</div>  
 
