<style>
.jumbotron {
    background-image: url(../img/NPSHomeScreen.jpg);
    background-size: 100% 100%;
    height: 475px;
  }
</style>

<div class="jumbotron">
</div>
<div class="container">
    <h1 class="text-center">Find national parks in your state!</h1>
    <h2 class='text-center'> #findyourpark</h2>
    <h3>Enter in your name and state below</h3>

<form action="/list" method="GET">
    <div class="form-group">
      <label for="name">Your Name</label>
      <input type="text" class="form-control" id="name" name='name' required>
    </div>
  
    <div class="form-group">
      <label for="content">Enter 2 character state code</label>
      <textarea type="text" class="form-control" id="stateCode" name="stateCode" required></textarea>
    </div>
  
    <input type="submit" class="btn btn-primary">
</form>
</div>