<div class="container">
    <h1 class="text-center">Find Your Park!</h1>
    <p class="text-center">
      <!-- <a href="/list">Favorites</a> -->
    </p>

<h1>Find national parks in your state!</h1>
<h3>Enter in your state below</h3>

<form action="/list" method="GET">
    <div class="form-group">
      <label for="name">Your Name</label>
      <input type="text" class="form-control" id="name" name='name' required>
    </div>
  
    <div class="form-group">
      <label for="content">Enter 2 character state code</label>
      <textarea type="text" class="form-control" id="stateCode" name="stateCode" required></textarea>
    </div>
  
    <input type="submit" class="btn btn-primary">
</form>